* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font: 14px/1.5 sans-serif;
}

body > * {
    width: 100%;
}

.timeline {
    border: 1px solid #CCC;
    border-radius: 0.3em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    overflow: hidden;
}

.timeline::before {
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    left: 3.1em;
    top: 2em;
}

.timeline h2 {
    background-color: white;
    color: black;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    position: relative;
}

.timeline > article {
    display: flex;
    align-items: start;
    gap: 1.5em;
}

.timeline > article::before {
    flex: 0 0 2em;
    display: block;
    content: '';
    width: 1em;
    aspect-ratio: 1;
    background-color: limegreen;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}

.timeline > article:nth-of-type(odd)::before {
    background-color: orange;
}

.timeline > article .inner {
    flex: 0 1 auto;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.8rem 1rem;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

@media (width > 90ch) {
    .timeline h2 {
        text-align: center;
    }

    .timeline::before {
        left: 50%;
    }

    .timeline article {
        width: calc(50% + 1.1em);
    }

    .timeline article:nth-of-type(odd) {
        margin-left: auto;
    }

    .timeline > article .inner {
        flex: 1 1 auto;
    }

    .timeline article:nth-of-type(even)::before {
        order: 999;
    }

    .timeline article:nth-of-type(even) .inner {
        text-align: right;
    }
}